In [74]:
import pandas as pd
import numpy as np

In [75]:
df1 = pd.read_csv("C:/python projects/csv_files - Copy/batting_records.csv")
df1.head()

,Player,span,matches,innings,not outs,runs,highscore,average,balls_faced,strikerate,hundreds,fifties,ducks,fours,sixes
0,JC Buttler (ENG),2021-2022,12,12,4,494,101,61.750000,334,147.904192,1,3,1,46,20
1,Mohammad Rizwan (PAK),2021-2022,13,13,2,456,79,41.454545,380,120.000000,0,4,0,38,15
2,P Nissanka (SL),2021-2022,15,15,0,435,74,29.000000,384,113.281250,0,5,2,32,13
3,Babar Azam (PAK),2021-2022,13,13,1,427,70,35.583333,373,114.477212,0,5,1,41,5
4,KS Williamson (NZ),2021-2022,12,12,2,394,85,39.400000,340,115.882353,0,2,1,31,10

In [76]:
df2 = pd.read_csv("C:/python projects/csv_files - Copy/bowling_records.csv")
df2.head()

,Player,span,matches,innings,balls,overs,maidens,runs,wickets,BBM_2021,BBM_2022,average,economy,strikerate,four wicket haul,fifer,bowling-style
0,PWH de Silva (SL),2021-2022,16,16,366,61,1,355,31,9-Mar,8-Mar,11.45,5.82,11.81,0,0,Leg-spin
1,TA Boult (NZ),2021-2022,12,12,286,47,0,321,21,17-Mar,13-Apr,15.29,6.83,13.62,1,0,Left-arm Fast
2,A Nortje (SA),2021-2022,10,10,221,36,0,198,20,8-Mar,10-Apr,9.90,5.50,11.05,2,0,Right-arm Fast
3,Shadab Khan (PAK),2021-2022,13,13,294,49,0,303,20,26-Apr,22-Mar,15.15,6.18,14.70,1,0,Leg-spin
4,A Zampa (AUS),2021-2022,10,10,234,39,0,237,18,19-May,19-Feb,13.17,6.08,13.00,0,1,Leg-spin

In [77]:
df3 = pd.read_csv("C:/python projects/csv_files - Copy/keeping_records.csv")
df3.head()

,Player,span,matches,innings,dismissals,catches,stumpings,dismissals/innings
0,JC Buttler (ENG),2021-2022,12,12,14,13,1,1.17
1,MS Wade (AUS),2021-2022,11,11,12,11,1,1.09
2,MH Cross (SCOT),2021-2022,11,11,11,9,2,1.00
3,DP Conway (NZ),2021-2022,11,10,10,8,2,1.00
4,SA Edwards (NED),2021-2022,11,11,10,10,0,0.91

In [78]:
b = pd.merge(df1,df2, on='Player',how='outer' )
b

,Player,span_x,matches_x,innings_x,not outs,runs_x,highscore,average_x,balls_faced,strikerate_x,...,runs_y,wickets,BBM_2021,BBM_2022,average_y,economy,strikerate_y,four wicket haul,fifer,bowling-style
0,JC Buttler (ENG),2021-2022,12.0,12.0,4.0,494.0,101.0,61.750000,334.0,147.904192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mohammad Rizwan (PAK),2021-2022,13.0,13.0,2.0,456.0,79.0,41.454545,380.0,120.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P Nissanka (SL),2021-2022,15.0,15.0,0.0,435.0,74.0,29.000000,384.0,113.281250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Babar Azam (PAK),2021-2022,13.0,13.0,1.0,427.0,70.0,35.583333,373.0,114.477212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KS Williamson (NZ),2021-2022,12.0,12.0,2.0,394.0,85.0,39.400000,340.0,115.882353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Aryan Lakra (UAE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,1.0,0/0,24-Jan,24.0,8.00,18.0,0.0,0.0,Right-arm medium
239,T van der Gugten (NED),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,1.0,1-Jan,0/0,32.0,10.67,18.0,0.0,0.0,Right-arm fast-medium
240,Khawar Ali (OMA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,1.0,27-Jan,0/0,44.0,7.33,36.0,0.0,0.0,Right-arm off-break
241,AC Evans (SCOT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,1.0,22-Jan,0/0,86.0,10.75,48.0,0.0,0.0,Right-arm medium
242,Ebadot Hossain (BAN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,1.0,0/0,25-Jan,25.0,8.33,19.0,0.0,0.0,Right-arm fast

In [79]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 242
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player            243 non-null    object
 1   span_x            149 non-null    object
 2   matches_x         149 non-null    float64
 3   innings_x         149 non-null    float64
 4   not outs          149 non-null    float64
 5   runs_x            149 non-null    float64
 6   highscore         149 non-null    float64
 7   average_x         149 non-null    float64
 8   balls_faced       149 non-null    float64
 9   strikerate_x      149 non-null    float64
 10  hundreds          149 non-null    float64
 11  fifties           149 non-null    float64
 12  ducks             149 non-null    float64
 13  fours             149 non-null    float64
 14  sixes             149 non-null    float64
 15  span_y            141 non-null    object
 16  matches_y         141 non-null    float64
 17  innings_y         141 non-null    float64
 18  balls             141 non-null    float64
 19  overs             141 non-null    float64
 20  maidens           141 non-null    float64
 21  runs_y            141 non-null    float64
 22  wickets           141 non-null    float64
 23  BBM_2021          141 non-null    object
 24  BBM_2022          141 non-null    object
 25  average_y         141 non-null    float64
 26  economy           141 non-null    float64
 27  strikerate_y      141 non-null    float64
 28  four wicket haul  141 non-null    float64
 29  fifer             141 non-null    float64
 30  bowling-style     141 non-null    object
dtypes: float64(25), object(6)
memory usage: 60.8+ KB

In [80]:
c = pd.merge(b,df3, on='Player',how='outer' )
c

,Player,span_x,matches_x,innings_x,not outs,runs_x,highscore,average_x,balls_faced,strikerate_x,...,four wicket haul,fifer,bowling-style,span,matches,innings,dismissals,catches,stumpings,dismissals/innings
0,JC Buttler (ENG),2021-2022,12.0,12.0,4.0,494.0,101.0,61.750000,334.0,147.904192,...,NaN,NaN,NaN,2021-2022,12.0,12.0,14.0,13.0,1.0,1.17
1,Mohammad Rizwan (PAK),2021-2022,13.0,13.0,2.0,456.0,79.0,41.454545,380.0,120.000000,...,NaN,NaN,NaN,2021-2022,13.0,13.0,8.0,7.0,1.0,0.62
2,P Nissanka (SL),2021-2022,15.0,15.0,0.0,435.0,74.0,29.000000,384.0,113.281250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Babar Azam (PAK),2021-2022,13.0,13.0,1.0,427.0,70.0,35.583333,373.0,114.477212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KS Williamson (NZ),2021-2022,12.0,12.0,2.0,394.0,85.0,39.400000,340.0,115.882353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,KD Karthik (IND),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2022-2022,4.0,4.0,4.0,4.0,0.0,1.00
244,NA Rock (IRE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021-2021,3.0,3.0,2.0,2.0,0.0,0.67
245,Naseem Khushi (OMA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021-2021,3.0,2.0,1.0,1.0,0.0,0.50
246,Suraj Kumar (OMA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021-2021,1.0,1.0,0.0,0.0,0.0,0.00
247,TL Seifert (NZ),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021-2021,2.0,2.0,0.0,0.0,0.0,0.00

In [81]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 247
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              248 non-null    object
 1   span_x              149 non-null    object
 2   matches_x           149 non-null    float64
 3   innings_x           149 non-null    float64
 4   not outs            149 non-null    float64
 5   runs_x              149 non-null    float64
 6   highscore           149 non-null    float64
 7   average_x           149 non-null    float64
 8   balls_faced         149 non-null    float64
 9   strikerate_x        149 non-null    float64
 10  hundreds            149 non-null    float64
 11  fifties             149 non-null    float64
 12  ducks               149 non-null    float64
 13  fours               149 non-null    float64
 14  sixes               149 non-null    float64
 15  span_y              141 non-null    object
 16  matches_y           141 non-null    float64
 17  innings_y           141 non-null    float64
 18  balls               141 non-null    float64
 19  overs               141 non-null    float64
 20  maidens             141 non-null    float64
 21  runs_y              141 non-null    float64
 22  wickets             141 non-null    float64
 23  BBM_2021            141 non-null    object
 24  BBM_2022            141 non-null    object
 25  average_y           141 non-null    float64
 26  economy             141 non-null    float64
 27  strikerate_y        141 non-null    float64
 28  four wicket haul    141 non-null    float64
 29  fifer               141 non-null    float64
 30  bowling-style       141 non-null    object
 31  span                26 non-null     object
 32  matches             26 non-null     float64
 33  innings             26 non-null     float64
 34  dismissals          26 non-null     float64
 35  catches             26 non-null     float64
 36  stumpings           26 non-null     float64
 37  dismissals/innings  26 non-null     float64
dtypes: float64(31), object(7)
memory usage: 75.6+ KB

In [82]:
# c.to_csv('playing_records.csv', index=False)

In [83]:
c= c.fillna(0)

In [84]:
c['span_x'] = c['span_x'].mask(c['span_x'] == 0, c['span_y'])

In [85]:
c.rename(columns = {'span_x':'Year'}, inplace = True)
c['Year'] = c['Year'].mask(c['Year'] == 0, c['span'])

In [86]:
c

,Player,Year,matches_x,innings_x,not outs,runs_x,highscore,average_x,balls_faced,strikerate_x,...,four wicket haul,fifer,bowling-style,span,matches,innings,dismissals,catches,stumpings,dismissals/innings
0,JC Buttler (ENG),2021-2022,12.0,12.0,4.0,494.0,101.0,61.750000,334.0,147.904192,...,0.0,0.0,0,2021-2022,12.0,12.0,14.0,13.0,1.0,1.17
1,Mohammad Rizwan (PAK),2021-2022,13.0,13.0,2.0,456.0,79.0,41.454545,380.0,120.000000,...,0.0,0.0,0,2021-2022,13.0,13.0,8.0,7.0,1.0,0.62
2,P Nissanka (SL),2021-2022,15.0,15.0,0.0,435.0,74.0,29.000000,384.0,113.281250,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
3,Babar Azam (PAK),2021-2022,13.0,13.0,1.0,427.0,70.0,35.583333,373.0,114.477212,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
4,KS Williamson (NZ),2021-2022,12.0,12.0,2.0,394.0,85.0,39.400000,340.0,115.882353,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,KD Karthik (IND),2022-2022,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2022-2022,4.0,4.0,4.0,4.0,0.0,1.00
244,NA Rock (IRE),2021-2021,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,3.0,3.0,2.0,2.0,0.0,0.67
245,Naseem Khushi (OMA),2021-2021,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,3.0,2.0,1.0,1.0,0.0,0.50
246,Suraj Kumar (OMA),2021-2021,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,1.0,1.0,0.0,0.0,0.0,0.00
247,TL Seifert (NZ),2021-2021,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,2.0,2.0,0.0,0.0,0.0,0.00

In [87]:
c['matches_x'] = c['matches_x'].mask(c['matches_x'] == 0, c['matches_y'])
c['matches_x'] = c['matches_x'].mask(c['matches_x']<c['matches_y'], c['matches_y'])
c['matches_x'] = c['matches_x'].mask(c['matches_x'] == 0, c['matches'])

In [88]:
c

,Player,Year,matches_x,innings_x,not outs,runs_x,highscore,average_x,balls_faced,strikerate_x,...,four wicket haul,fifer,bowling-style,span,matches,innings,dismissals,catches,stumpings,dismissals/innings
0,JC Buttler (ENG),2021-2022,12.0,12.0,4.0,494.0,101.0,61.750000,334.0,147.904192,...,0.0,0.0,0,2021-2022,12.0,12.0,14.0,13.0,1.0,1.17
1,Mohammad Rizwan (PAK),2021-2022,13.0,13.0,2.0,456.0,79.0,41.454545,380.0,120.000000,...,0.0,0.0,0,2021-2022,13.0,13.0,8.0,7.0,1.0,0.62
2,P Nissanka (SL),2021-2022,15.0,15.0,0.0,435.0,74.0,29.000000,384.0,113.281250,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
3,Babar Azam (PAK),2021-2022,13.0,13.0,1.0,427.0,70.0,35.583333,373.0,114.477212,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
4,KS Williamson (NZ),2021-2022,12.0,12.0,2.0,394.0,85.0,39.400000,340.0,115.882353,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,KD Karthik (IND),2022-2022,4.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2022-2022,4.0,4.0,4.0,4.0,0.0,1.00
244,NA Rock (IRE),2021-2021,3.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,3.0,3.0,2.0,2.0,0.0,0.67
245,Naseem Khushi (OMA),2021-2021,3.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,3.0,2.0,1.0,1.0,0.0,0.50
246,Suraj Kumar (OMA),2021-2021,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,1.0,1.0,0.0,0.0,0.0,0.00
247,TL Seifert (NZ),2021-2021,2.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0,2021-2021,2.0,2.0,0.0,0.0,0.0,0.00

In [89]:
c['innings_x'] = c['innings_x'].mask(c['innings_x'] == 0, c['innings_y'])
c['innings_x'] = c['innings_x'].mask(c['innings_x']<c['innings_y'], c['innings_y'])
c['innings_x'] = c['innings_x'].mask(c['innings_x'] == 0, c['innings'])

In [90]:
c = c.drop(['matches','matches_y','innings','innings_y','span_y','span' ], axis=1)

In [91]:
c

,Player,Year,matches_x,innings_x,not outs,runs_x,highscore,average_x,balls_faced,strikerate_x,...,average_y,economy,strikerate_y,four wicket haul,fifer,bowling-style,dismissals,catches,stumpings,dismissals/innings
0,JC Buttler (ENG),2021-2022,12.0,12.0,4.0,494.0,101.0,61.750000,334.0,147.904192,...,0.0,0.0,0.0,0.0,0.0,0,14.0,13.0,1.0,1.17
1,Mohammad Rizwan (PAK),2021-2022,13.0,13.0,2.0,456.0,79.0,41.454545,380.0,120.000000,...,0.0,0.0,0.0,0.0,0.0,0,8.0,7.0,1.0,0.62
2,P Nissanka (SL),2021-2022,15.0,15.0,0.0,435.0,74.0,29.000000,384.0,113.281250,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
3,Babar Azam (PAK),2021-2022,13.0,13.0,1.0,427.0,70.0,35.583333,373.0,114.477212,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
4,KS Williamson (NZ),2021-2022,12.0,12.0,2.0,394.0,85.0,39.400000,340.0,115.882353,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,KD Karthik (IND),2022-2022,4.0,4.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,4.0,4.0,0.0,1.00
244,NA Rock (IRE),2021-2021,3.0,3.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,2.0,2.0,0.0,0.67
245,Naseem Khushi (OMA),2021-2021,3.0,2.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,0.0,0.50
246,Suraj Kumar (OMA),2021-2021,1.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
247,TL Seifert (NZ),2021-2021,2.0,2.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00

In [92]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 247
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              248 non-null    object
 1   Year                248 non-null    object
 2   matches_x           248 non-null    float64
 3   innings_x           248 non-null    float64
 4   not outs            248 non-null    float64
 5   runs_x              248 non-null    float64
 6   highscore           248 non-null    float64
 7   average_x           248 non-null    float64
 8   balls_faced         248 non-null    float64
 9   strikerate_x        248 non-null    float64
 10  hundreds            248 non-null    float64
 11  fifties             248 non-null    float64
 12  ducks               248 non-null    float64
 13  fours               248 non-null    float64
 14  sixes               248 non-null    float64
 15  balls               248 non-null    float64
 16  overs               248 non-null    float64
 17  maidens             248 non-null    float64
 18  runs_y              248 non-null    float64
 19  wickets             248 non-null    float64
 20  BBM_2021            248 non-null    object
 21  BBM_2022            248 non-null    object
 22  average_y           248 non-null    float64
 23  economy             248 non-null    float64
 24  strikerate_y        248 non-null    float64
 25  four wicket haul    248 non-null    float64
 26  fifer               248 non-null    float64
 27  bowling-style       248 non-null    object
 28  dismissals          248 non-null    float64
 29  catches             248 non-null    float64
 30  stumpings           248 non-null    float64
 31  dismissals/innings  248 non-null    float64
dtypes: float64(27), object(5)
memory usage: 63.9+ KB

In [73]:
c.to_csv('playing_records.csv', index=False)